name: Generate Snake

on:
  schedule:
    - cron: "0 */6 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Create dist directory
        run: mkdir -p dist

      - uses: Platane/snk@v3
        id: snake-gif
        with:
          github_user_name: kaliluying
          outputs: |
            [
              "dist/github-contribution-grid-snake.gif",
              "dist/github-contribution-grid-snake.svg"
            ]

      - name: Push to output branch
        uses: crazy-max/ghaction-github-pages@v4
        with:
          target_branch: output
          build_dir: dist
          commit_message: "Update snake [skip ci]"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
